.banner {
  margin: 90px auto;
  width: 66%;
}
.banner h2 {
  text-align: center;
}
.banner p {
  max-width: 80%;
  margin: 15px auto;
  text-align: center;
}
.banner.white button {
  background-color: #e0922f;
  border: none;
  color: #fff;
  display: block;
  margin: 0 auto;
  padding: 15px 45px;
  text-align: center;
}
/*-----------------------------------
# Media Queries
------------------------------------*/
/*-----------------------------------
## Wide Screens, Large Devices
------------------------------------*/
@media only screen and (max-width : 1200px) {

}
/*-----------------------------------
## Desktops, Medium Devices
------------------------------------*/
@media only screen and (max-width : 992px)  {
  .banner {
    width: 100%;
  }
}
/*-----------------------------------
## Tablets, Small Devices
------------------------------------*/
@media only screen and (max-width : 768px)  {
  .banner {
    margin: 45px auto;
    padding: 30px;
    width: 100%;
  }
  .banner p {
    text-align: left;
  }
}
/*-----------------------------------
## Phones, Extra Small Devices
------------------------------------*/
@media only screen and (max-width: 480px) {
  .banner {
    margin: 30px auto;
    padding: 15px;
    width: 100%;
  }
  .banner p {
    max-width: 100%;
    text-align: left;
  }
}