.banner {
  clear: both;
  display: table-cell;
  float: left;
  margin: 45px auto;
  padding: 45px;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}
.banner h2 {
  clear: both;
  margin-top: 0;
  text-align: center;
}
.banner p {
  margin: 30px auto;
  padding: 0 45px;
}
.banner button {
  margin: 30px auto;
}
.banner.white button {
  background-color: #e0922f;
  border: none;
  color: #fff;
  display: block;
  margin: 0 auto;
  padding: 15px 45px;
  text-align: center;
}
/*-----------------------------------
# Media Queries
------------------------------------*/
/*-----------------------------------
## Wide Screens, Large Devices
------------------------------------*/
@media only screen and (max-width : 1200px) {

}
/*-----------------------------------
## Desktops, Medium Devices
------------------------------------*/
@media only screen and (max-width : 992px)  {
  .banner {
    width: 100%;
  }
  .banner p {
    padding: 0;
  }
}
/*-----------------------------------
## Tablets, Small Devices
------------------------------------*/
@media only screen and (max-width : 768px)  {
  .banner {
    margin: 45px auto;
    padding: 45px;
  }
  .banner p {
    text-align: left;
  }
}
/*-----------------------------------
## Phones, Extra Small Devices
------------------------------------*/
@media only screen and (max-width: 480px) {
  .banner {
    margin: 30px auto;
    padding: 15px 30px;
  }
  .banner p {
    max-width: 100%;
  }
}
