.card {
  display: table-cell;
  float: left;
  margin: 45px auto;
  min-height: 100vh;
  padding: 90px;
  vertical-align: middle;
  width: 50%;
}
.card.yellow {
  background-color: #e0922f;
}
.card.white {
  background-color: #fff;
}
.card div {
  border: 1px solid #fff;
  display: block;
  float: left;
  margin: 45px auto;
  overflow: hidden;
  padding-top: 75%;
  position: relative;
  width: 100%;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}
.card img {
  bottom: 0;
  display: block;
  left: 0;
  margin: 0 auto;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
.card h4 {
  margin: 30px auto;
  text-align: center;
}
.card p {
  margin: 30px auto;
  min-height: 90px;
}
.card button {
  border: none;
  display: block;
  margin: 30px auto;
  padding: 15px 45px;
  text-transform: uppercase;
}
.card.yellow button {
  background-color: #fff;
  color: #e0922f;
}
.card.white button {
  background-color: #e0922f;
  color: #fff;
}
/*-----------------------------------
# Media Queries
------------------------------------*/
/*-----------------------------------
## Wide Screens, Large Devices
------------------------------------*/
@media only screen and (max-width : 1200px) {

}
/*-----------------------------------
## Desktops, Medium Devices
------------------------------------*/
@media only screen and (max-width : 992px)  {
  .card {
    display: block;
    margin: 0 auto;
    padding: 0 45px;
    width: 100%;
  }
}
/*-----------------------------------
## Tablets, Small Devices
------------------------------------*/
@media only screen and (max-width : 768px)  {

}
/*-----------------------------------
## Phones, Extra Small Devices
------------------------------------*/
@media only screen and (max-width: 480px) {
  .card {
    padding: 15px;
  }
  .card p {
    max-width: 100%;
    padding: 0 15px;
  }
  .card div {
    padding-left: 15px;
    padding-right: 15px;
  }
  .card h4 {

  }
}
