footer {
  background-color: #414345;
  padding: 45px;
  color: #fff;
  display: flex!important;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  justify-content: space-between;
  -webkit-justify-content:space-between;
  align-items:flex-start;
  -webkit-align-items:flex-start;
  float: left;
  width: 100%;
}
footer div {
  line-height: 2;
  padding: 45px;
}
footer div section {

}
footer h6 {
  color: #e0922f;
  margin: 0;
}

footer img{
  width: 70px;
  height: 70px;
}
footer > section {
  padding-top: 30px;
  margin: 0 45px;
  border-top: 1px solid #fff;
  color: #fff;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
}
footer > section small {
  color: #fff;
}
footer section small a {
  color: #fff;
  text-decoration: underline;
}
footer div ul {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-flow: row;
  list-style: none;
  padding-left: 0;
  margin: 5px 0;
}
footer div ul li {
  margin-right: 20px;
}
footer div ul li a {
  color: #fff;
  text-decoration: none;
}
footer a:hover {
  color: #e0922f;
}
footer div a {
  color: #fff;
}
footer div .address {
  color: #fff;
  margin: 0;
}
footer i {
  color: #fff;
  font-size: 18px;
  margin-bottom: 15px;
  margin-right: 20px;
}
footer h5 {
  margin: 0;
}
/*-----------------------------------
# Media Queries
------------------------------------*/
/*-----------------------------------
## Wide Screens, Large Devices
------------------------------------*/
@media only screen and (max-width : 1200px) {

}
/*-----------------------------------
## Desktops, Medium Devices
------------------------------------*/
@media only screen and (max-width : 992px)  {
  footer {
    padding: 30px;
  }
  footer div {
    padding: 15px 0;
  }
  footer > section {
    margin: 0 auto;
    padding-top: 30px;
  }
}
/*-----------------------------------
## Tablets, Small Devices
------------------------------------*/
@media only screen and (max-width : 768px)  {
  footer > section {
    margin: 0 auto;
    padding-top: 15px;
  }
}
/*-----------------------------------
## Phones, Extra Small Devices
------------------------------------*/
@media only screen and (max-width: 480px) {

}