.hero-photo-container {
  clear: both;
  display: block;
  float: left;
  max-height: 600px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.hero-photo-container:before {
  background-color: rgba(0, 0, 0, .75);
  content: "";
  display: block;
  float: left;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.hero-photo-container h1 {
  color: #e0922f;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  z-index: 3;
}
.hero-photo-container img {
  display: block;
  filter: grayscale(100%);
  float: left;
  height: auto;
  width: 100%;
}
.hero-video-container {
  clear: both;
  display: block;
  float: left;
  position: relative;
  width: 100%;
}
.hero-video-container:before {
  background-color: rgba(0, 0, 0, .75);
  content: "";
  display: block;
  float: left;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.hero-video-container button {

}
.hero-overlay {
  padding: 0 45px;
  position: absolute;
  top: 25%;
  width: 100%;
  z-index: 3;
}
.hero-overlay h1 {
  color: #e0922f;
  text-align: center;
}
.hero-overlay h3 {
  color: #e0922f;
  margin: 15px auto;
  max-width: 75%;
  text-align: center;
}
.hero-video-container video {
  display: block;
  filter: grayscale(100%);
  max-width: 100%;
  position: relative;
  width: 100%;
}
/*-----------------------------------
# Media Queries
------------------------------------*/
/*-----------------------------------
## Wide Screens, Large Devices
------------------------------------*/
@media only screen and (max-width : 1200px) {

}
/*-----------------------------------
## Desktops, Medium Devices
------------------------------------*/
@media only screen and (max-width : 992px)  {
  .hero-overlay {
    margin: 0 auto;
  }
  .hero-overlay h3 {
    max-width: 100%;
    padding: 0 45px;
    width: 100%;
  }
  .hero-photo div {
    height: 400px;
  }
}
/*-----------------------------------
## Tablets, Small Devices
------------------------------------*/
@media only screen and (max-width : 768px)  {
  .hero-overlay {

  }
  .hero-overlay h3 {
    display: none;
  }
  .hero-photo div {
    height: 300px;
  }
  .hero-photo h1 {
    top: 25%;
  }
}
/*-----------------------------------
## Phones, Extra Small Devices
------------------------------------*/
@media only screen and (max-width: 480px) {
  .hero-overlay {
    padding: 15px;
    width: 100%;
  }
  .hero-overlay h3 {

  }
  .hero-photo div {

  }
  .hero-photo h1 {

  }
}
