.news-page {
  background-color: #efefef;
  display: block;
  float: left;
  padding: 45px;
  width: 100%;
}
.news-posts {
  display: inline-block;
  float: left;
  width: 70%;
}
.news-posts .news-post {
  background-color: #fff;
  border: 1px solid #efefef;
  display: inline-block;
  margin: 0 auto 15px;
  padding: 45px;
  width: 100%;

  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.news-posts .news-post p {

}
.news-posts .news-post h4:nth-of-type(1) {
  margin-top: 0;
}
.news-posts .news-post a {
  color: #2f2f2f;
}
.news-posts .news-post a button {
  background-color: #e0922f;
  color: #fff;
  margin: 45px auto;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}
.news-posts .news-post-meta {
  border-top: 1px solid #eee;
  display: block;
  float: left;
  padding: 15px 0;
  width: 100%;
}
.news-posts .news-post-meta * {
  margin-right: 15px;
}
.news-posts .news-post-meta .fa {
  color: #e0922f;
}
.news-sidebar {
  background: #fff;
  display: inline-block;
  float: left;
  margin: 0 0 0 45px;
  padding: 45px;
  width: calc(30% - 45px);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.news-sidebar h4:nth-of-type(1) {
  margin-top: 0;
}
.news-sidebar h4 {
  color: #e0922f;
}
.news-sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.news-sidebar ul li {
  color: #2f2f2f;
}
.news-sidebar ul li a {
  color: #2f2f2f;
}
.news-sidebar ul li a:hover {
  color: #e0922f;
}
/*-----------------------------------
# Media Queries
------------------------------------*/
/*-----------------------------------
## Wide Screens, Large Devices
------------------------------------*/
@media only screen and (max-width : 1200px) {

}
/*-----------------------------------
## Desktops, Medium Devices
------------------------------------*/
@media only screen and (max-width : 992px)  {
  .news-page {
    padding: 30px;
  }
  .news-posts {
    width: 66%;
  }
  .news-posts .news-post {
    padding: 30px;
  }
  .news-sidebar {
    margin: 0 0 0 30px;
    padding: 30px;
    width: calc(34% - 30px);
  }
}
/*-----------------------------------
## Tablets, Small Devices
------------------------------------*/
@media only screen and (max-width : 768px)  {
  .news-page {
    padding: 30px 15px;
  }
  .news-posts {
    width: 100%;
  }
  .news-sidebar {
    display: none;
  }
}
/*-----------------------------------
## Phones, Extra Small Devices
------------------------------------*/
@media only screen and (max-width: 480px) {

}