.row {
  display: block;
  float: left;
  padding: 45px;
  position: relative;
  width: 100%;
}
.row .content {
  display: inline-block;
  padding: 45px;
  width: 50%;
}
.row .media {
  display: inline-block;
  float: left;
  padding: 45px;
  width: 50%;
}
.row .media img {
  border: 1px solid #fff;
  height: auto;
  width: 100%;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}
.row .content button {
  background-color: #e0922f;
  border: none;
  color: #fff;
  display: block;
  margin: 0 auto;
  padding: 15px 45px;
  text-align: center;
}
/*-----------------------------------
# Media Queries
------------------------------------*/
/*-----------------------------------
## Wide Screens, Large Devices
------------------------------------*/
@media only screen and (max-width : 1200px) {

}
/*-----------------------------------
## Desktops, Medium Devices
------------------------------------*/
@media only screen and (max-width : 992px)  {
  .row .content, .row .media {
    padding: 0 45px;
    width: 100%;
  }
}
/*-----------------------------------
## Tablets, Small Devices
------------------------------------*/
@media only screen and (max-width : 768px)  {
  .row {
    padding: 15px;
  }
  .row .content, .row .media {
    padding: 15px 30px;
  }
}
/*-----------------------------------
## Phones, Extra Small Devices
------------------------------------*/
@media only screen and (max-width: 480px) {
  .row .content, .row .media {
    padding: 15px;
  }
}
