/*
Orange: #e0922f
Grey: #414345

Black: #000000
White: #ffffff
*/
html, body {
  margin: 0;
  padding: 0;
}
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}
a {
  text-decoration: none;
}
h1 {
  font-family: 'Oswald',sans-serif;
  font-size: 56px;
  line-height: 1.5;
  text-transform: uppercase;
}
h2 {
  font-family: 'Oswald',sans-serif;
  font-size: 32px;
  line-height: 1.35;
  text-transform: uppercase;
}
h3 {
  font-family: 'Oswald',sans-serif;
  font-size: 28px;
  line-height: 1.35;
  text-transform: uppercase;
}
h4 {
  font-family: 'Oswald',sans-serif;
  font-size: 24px;
  line-height: 1.45;
  text-transform: uppercase;
}
h5 {

}
h6 {

}
p {
  font-family: 'Nunito', 'Open Sans', 'Roboto', sans-serif;
  line-height: 1.45;
}
.title-row {
  text-align: center;
  width: 100%;
}
.title-row a button {
  background-color: #e0922f;
  border: none;
  color: #fff;
  display: block;
  padding: 15px 45px;
  margin: 0 auto;
  text-align: center;
}
.centered {
  margin: 15px auto;
  text-align: center;
}
/*-----------------------------------
# Media Queries
------------------------------------*/
/*-----------------------------------
## Wide Screens, Large Devices
------------------------------------*/
@media only screen and (max-width : 1200px) {

}
/*-----------------------------------
## Desktops, Medium Devices
------------------------------------*/
@media only screen and (max-width : 992px)  {

}
/*-----------------------------------
## Tablets, Small Devices
------------------------------------*/
@media only screen and (max-width : 768px)  {

}
/*-----------------------------------
## Phones, Extra Small Devices
------------------------------------*/
@media only screen and (max-width: 480px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {

  }
  h6 {

  }
  p {

  }
}
