# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
exclude:
  - "/vendor/"
  - "Gemfile"
  - "Gemfile.lock"
  - "README.md"
  - "LICENSE.md"
  - "*.gemspec"

keep_files:
  - "CNAME"
  - ".git"
  - ".gitignore"

# Site settings
title: Level Ground MMA
subtitle: "The Jekyll-Forestry theme for Level Ground Mixed Martial Arts"
email: ali@levelgroundmma.org
description: "Level Ground Mixed Martial Arts"
url: "http://emiliomurillo.github.io" # the base hostname & protocol for your site, e.g. http://example.com
baseurl: "/lgmma" # the subpath of your site, e.g. /blog

# Build settings
markdown: kramdown

gems:
  - jekyll-feed
  - jekyll-paginate
paginate: 5

# Forestry Settings
collections:
  news:
    output: true

defaults:
  - scope:
        path: ""
        type: posts
    values:
        thumbnail: ""
        categories: []
        description: ""

  - scope:
        path: "news/entries/"
        type: "news"
    values:
        layout: news-post
        author: "Ali Fuller"
        title: "LG MMA News"
        permalink: pretty

