<header>
  <nav>
    <ul>
      <a href="{{ site.baseurl }}/classes"><li>Classes</li></a>
      <a href="{{ site.baseurl }}/hire"><li>Hire Us</li></a>
      <a href="{{ site.baseurl }}/news"><li>News</li></a>
    </ul>
    <div class="logo-container">
      <a href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/img/LG_MMA_logo_ko.png"
             class="logo" alt="">
      </a>
    </div>
    <span class="nav-button-container">
      <a href="donate.html"><button type="button" name="donate-button">DONATE</button></a>
    </span>
  </nav>
</header>
