<header class="donate">
  <nav>
    <ul>
      <a href="{{ site.baseurl }}/classes.html"><li>Classes</li></a>
      <a href="{{ site.baseurl }}/hire.html"><li>Hire Us</li></a>
      <a href="{{ site.baseurl }}/news.html"><li>News</li></a>
    </ul>
    <div class="logo-holder">
      <a href="{{ site.baseurl }}/"><img src="/img/new-logo-white.png" alt=""></a>
      <section>

      </section>
    </div>
    <!-- <div id="flag">
      <img src="img/new-logo-white.png" alt="">
    </div> -->
    <a href="donate.html"><button type="button" name="donate-button">DONATE</button></a>
  </nav>
  <div class="wrapper">
    <h1>News</h1>
  </div>
</header>
