---
layout: default
---

<!--INCLUDE HERO VIDEO STARTS -->
{% include hero-video.html

title="We Come to you"
content="Host LG at your workplace or school. LG Student Trainers provide an
invigorating workshop that will leave your group empowered and connected to one another."
vid="lgmma_vid.mp4"
%}
<!--INCLUDE HERO VIDEO ENDS -->


<section class="title-row">
  <h2>We Offer Two Classes</h2>
</section>

<!--INCLUDE CARD STARTS -->
{% include card.html
bg-color="white"
photo="SOR_6334.jpg"
title="Boxing Bootcamp"
content="Throw on some gloves and break a sweat during this fun, rigorous Bootcamp.
Participants of any fitness level will learn the basics of boxing and enjoy a dynamic
conditioning workout.

*Kickboxing option available"
%}
<!--INCLUDE CARD ENDS -->

<!--INCLUDE CARD STARTS -->
{% include card.html
bg-color="white"
photo="SOR_6334.jpg"
title="Self-Defense"
content="Learn to how to manage a variety of common attack scenarios. Our instructors lay
down a foundation of defensive techniques and counter attacks that build off of one
another so that participants are empowered to take control of any situation.

*Women’s-only option available"
%}
<!--INCLUDE CARD ENDS -->

<section class="title-row">
  <a href="#" target="_blank">
    <button>Book A Class</button>
  </a>
</section>


<!--INCLUDE BANNER STARTS -->
{% include banner.html
title="Volunteer with Level Ground"
content="We are always seeking awesome people willing to donate their time as tutors,
mentors, and guest lecturers to our youth.

Address
527 Columbia Road
Boston, MA, 02125

Phone
555-555-5555"
button="Volunteer"
%}
<!--INCLUDE BANNER ENDS -->
