---
layout: default
---

<!--INCLUDE HERO PHOTO START-->
{% include hero-photo.html
title="Donate"
photo="SOR_6400.jpg"
%}
<!--INCLUDE HERO PHOTO ENDS-->

<!-- INCLUDE BANNER ROW START -->
{% include banner.html
title="Something about donating here"
content="If you are between the ages of 5-22, you may qualify for free training by joining one of our Success Tracks.  Our Tutoring and College Access programs includes weekly tutoring and connection to 2 and 4 year university options.  Our Student Trainer program trains you to become a fitness professional, and links you to an internship with a Boston-based gym.  You may also earn free training by helping to clean and maintain the Training Center.
"
%}
<!-- INCLUDE BANNER ROW ENDS -->
