---
layout: default
---

{% include hero-photo.html
title="In Struggle There's Growth"
button-link="classes"
button-cta="See Classes"
photo="SOR_6439.jpg"
%}


<!--INCLUDE TESTIMONIAL ROW STARTS -->
{% include row-content-media.html
title="Our Training Center"
content="The LG Training Center includes a 2,000 square foot mat space for combat sports, as well as our Beat 58 Personal Training Studio.  Whether you’re looking to develop as an athlete in MMA, want to explore the ‘gentle art’ of Brazilian Jiu Jitsu, or are simply looking to get back in shape with one of our trainers, you have a home here."
photo="SOR_6439.jpg"
button-link="classes"
button-cta="Book a Class"
%}
<!--INCLUDE TESTIMONIAL ROW ENDS-->

