<!DOCTYPE html>
<html class="no-js">
<head>

  {% include head.html %}

</head>
<body>

<!--INCLUDE HEADER STARTS -->
{% include header.html %}
<!--INCLUDE HEADER ENDS -->

<!--INCLUDE HERO VIDEO STARTS -->
{% include hero-video.html

title="Where Grit Meets Opportunity"
content="At Level Ground, we value grit, resilience, and perseverance.
Our students embrace these principles through Mixed Martial Arts,
and learn to apply them ‘off the mat’ through our College Access and
Career Development opportunities."
vid="https://player.vimeo.com/external/158148793.hd.mp4?s=8e8741dbee251d5c35a759718d4b0976fbf38b6f&profile_id=119&oauth2_token_id=57447761"

%}
<!--INCLUDE HERO VIDEO ENDS -->

<!--INCLUDE BANNER STARTS -->
{% include banner.html
title="Why"
content="LG provides academic and career opportunities to youth living in the Boston
neighborhoods that face the highest levels of poverty and violence. Through our “Success
Tracks,” our youth are empowered to overcome these obstacles and pursue the future that
they envision for themselves. Youth may opt to enter college, or pursue a career in the
fitness industry. To date, 100% of our graduating seniors involved with LG for at least 6
months have transitioned to college and/or meaningful employment.

But it doesn’t stop there.

We are committed to making MMA and Personal Training options financially accessible to all
Boston residents. Obesity-related chronic diseases are on the rise, and are most prevalent
in urban neighborhoods In fact, the average life expectancy in the Boston neighborhood of
Roxbury is just 58 years old. Our young trainers assist with our MMA classes and lead our
“Beat 58” Personal Training program, thereby serving as ‘fitness ambassadors’ to their
community."

%}
<!--INCLUDE BANNER ENDS -->

<!--INCLUDE CARD STARTS -->
{% include card.html
bg-color="yellow"
photo="SOR_6334.jpg"
title="Visit the Training Center"
content="Check out our Thai Kickboxing, Brazilian Jiu Jitsu, and Mixed Martial Arts classes. Or,
sign up for personal training with one of our Student Trainers."
button="See Classes"
button-link=""
%}
<!--INCLUDE CARD ENDS -->

<!--INCLUDE CARD STARTS -->
{% include card.html
bg-color="yellow"
photo="SOR_6461.jpg"
title="We come to you"
content="Host a LG Boxing Bootcamp or Self Defense session for your company or group onsite.  "
button="See Classes"
button-link=""
%}
<!--INCLUDE CARD ENDS -->

<!--INCLUDE BANNER STARTS -->
{% include banner.html
title="Volunteer with Level Ground"
content="We are always seeking awesome people willing to donate their time as tutors,
mentors, and guest lecturers to our youth.

Address
527 Columbia Road
Boston, MA, 02125

Phone
555-555-5555"
button="Volunteer"
%}
<!--INCLUDE BANNER ENDS -->


<!--INCLUDE FOOTER STARTS -->
{% include footer.html %}
<!--INCLUDE FOOTER ENDS -->

</body>
</html>