---
layout: default
---

<section class="news-banner">
  <h1>News</h1>
  <div>
    <img src="{{ site.baseurl }}/img/SOR_6439.jpg" alt="" />
  </div>
</section>

<section class="news-page">
<section class="news-posts">
  <section class="news-post">
    <h4>{{ page.title }}</h4>
    {{ page.content }}
    <div class="news-post-meta">
      <small>
        <i class="fa fa-user" aria-hidden="true"></i><span>{{ page.author }}</span>
        <i class="fa fa-clock-o" aria-hidden="true"></i><span>{{ page.date }}</span>
      </small>
    </div>
  </section>
</section>
{% include sidebar.html %}
</section>