<!DOCTYPE html>
<html class="no-js">
<head>

  {% include head.html %}

</head>
<body>

{% include header.html %}
<!--<section class="news-banner">-->
  <!--<h1>News</h1>-->
  <!--<div>-->
    <!--<img src="{{ site.baseurl }}/img/SOR_6439.jpg" alt="" />-->
  <!--</div>-->
<!--</section>-->
{% include hero-photo.html
  title="News"
  photo="SOR_6439.jpg"
%}
<section class="news-page">
  <section class="news-posts">
    {% assign news = site.news | sort: 'date' %}

    {% for news-post in news reversed %}
    <section class="news-post">
      <h4>
        <a href="{{ site.baseurl }}{{ news-post.url }}">{{ news-post.title }}</a>
      </h4>
      {{ news-post.content }}
      <div class="news-post-meta">
        <small>
          <i class="fa fa-user" aria-hidden="true"></i><span>{{ news-post.author }}</span>
          <i class="fa fa-clock-o" aria-hidden="true"></i><span>{{ news-post.date }}</span>
        </small>
      </div>
    </section>
    {% endfor %}
  </section>
  {% include sidebar.html %}
</section>


{% include footer.html %}

</body>
</html>

