<!DOCTYPE html>
<html class="no-js">
<head>

  {% include head.html %}

</head>
<body>

{% include header.html %}

<section class="news-page">
  <div class="news-banner">
    <h1>News</h1>
  </div>
  <section class="news-posts">
    {% assign news = site.news | sort: 'date' %}

    {% for news-post in news reversed %}
    <section class="news-post">
      <p>{{ news-post.author }}</p>
      <small>{{ news-post.title }}</small>
    </section>
    {% endfor %}
  </section>
  <aside class="news-sidebar">
    Side bar
  </aside>
</section>


{% include footer.html %}

</body>
</html>